.page {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Inter, Helvetica, Arial, sans-serif;
 }


.page__header {
  margin: 0 auto;

}

.page__main-container {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 19px;
}

.page__hr {
  margin: 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header {
  max-width: 880px;  
  padding: 45px 27px 38px;
}

.profile {
  padding: 36px 0 47px 0;
  display: flex;
  align-items: center;

}

.profile__avatar {  
  margin: 0 29px 0 0;
  border-radius: 50%;
  width: 125px;
}

.profile__name-container {
  display: flex;
  align-items: baseline;
}

.profile__name {
  max-width: 390px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 18px 10px 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
}

.profile__edit-btn {
  margin: 0 19px 0 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 2px solid white;
  outline: none;
  background-color: black;
  background-image: url(./images/edit-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: .6;  
  border-color: rgba(255,255,255,.6);
}

.profile__subtitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.profile__add-btn {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  min-width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  outline: none;
  background-color: black;
  background-image: url(./images/add-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: .6;
  border-color: rgba(255,255,255,.6);
}

@media screen and (max-width: 700px) {
  .header {
    padding: 28px 27px 31px;
  }

  .profile {
    flex-direction: column;
  }

  .profile__avatar {
    margin: 0 0 20px 0;
  }

  .profile__edit-btn {
    border-width: 1px;
    margin: 0;
    width: 18px;
    height: 18px;
  }

  .profile__name {
    margin: 0 18px 8px 0;
    max-width: 70vw;
    font-size: 27px;
    line-height: 1.22;
  }

  .profile__text-container {
    text-align: center;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.21;
  }

  .profile__add-btn {
    margin: 36px 0 0 0;
    width: 100%;
    max-width: 282px;
  }
}

.cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  column-gap: 17px;
  row-gap: 20px;
}

.card {
  margin: 0;  
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card__pic {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__caption {
  padding: 0 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.card__title {
  margin: 25px 0 31px 0;
  padding: 0 20px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  color: black;
}

.like-btn__invisible-checkbox[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
} 

.like-btn__visible-checkbox {
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(./images/like-btn_disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.like-btn__visible-checkbox:hover {
  opacity: .5;
}

.like-btn__invisible-checkbox[type="checkbox"]:checked + .like-btn__visible-checkbox {
  background-image: url(./images/like-btn_checked.svg);
} 


.footer {
  padding: 67px 0 60px 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: #545454;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
}

.popup_opened {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  padding: 34px 36px;
  box-sizing: border-box;
}

.popup__close-btn {
  position: absolute;
  top: -37px;
  right: -37px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  background: none;
  background-image: url(./images/close-btn.png);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  
}

.popup__close-btn:hover {
  opacity: .6;
}

.popup__title {
  margin: 0 0 46px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  color: black;
}

.popup__input {
  margin: 0 0 25px 0;
  padding: 8px 0;
  width: 100%;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__save-btn {
  margin: 26px 0 0 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 50px;  
  background-color: black;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: .8;
}

@media screen and (max-width:570px) {
  .popup__container {
    padding: 25px 22px;
    width: 75.438vw;
    min-width: 282px;
  }

  .popup__title {    
    margin-bottom: 67px;
    font-size: 18px;
  }

  .popup__close-btn {
    width: 24px;
    height: 24px;
    right: 0;
  }
}