.like-btn__visible-checkbox {
  display: block;
  width: 20px;
  height: 18px;
  background-image: url(../../../images/like-btn_disabled.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.like-btn__visible-checkbox:hover {
  opacity: .5;
}

.like-btn__invisible-checkbox[type="checkbox"]:checked + .like-btn__visible-checkbox {
  background-image: url(../../../images/like-btn_checked.svg);
} 